.container {
  position: relative;
  border: aqua 2px solid;
  padding: 0px;
}

.nav {
  position: absolute;
  width: 200px;

  border: red 2px solid;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: red;
}

.section {
  margin-left: 200px;
  border: orange 2px solid;
  padding: 10px;
}

